<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>We couldn't find the page you were looking for. This is either because:</p>
    <ul>
        <li>There is an error in the URL entered into your web browser. Please check the URL and try again.</li>
        <li>The page you are looking for has been moved or deleted.</li>
    </ul>
    <p>You can return to our homepage by clicking <a href="/capstone_repo/landing.html">here</a></p>

</body>
</html>
