<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Techlahoma Log In</title>
</head>
<body>
 <!-- Script for NeonOAuth2 -->
 <script id="NeonOAuth2Script">
    (function(w,d,t,s,p,c,r,u){
        var a=d.createElement(t);
        a.async=1;
        a.src=u+s;
        var es=d.getElementsByTagName(t);
        var e=es[es.length-1];
        e.parentNode.insertBefore(a,e);
        w[p]=c;
        w[r]=u;
    })(window,document,'script','/js/oauth/npsi.js','client_id','2h4SG1InwJNsWxevrpFyW65DGAZofW0YnyjJ4s8fqGqGcm331x_tMjr5v0-eUJNr2yC0-kyZ2Ya3CNptMo1gFA==','domain','https://techlahoma.app.neoncrm.com/np');

    // Define redirect_uri
    var setting = {
        "redirect_uri": "127.0.0.1" // Replace with your actual redirect URI
    }
</script>
</body>
</html>
