{% extends "base.html" %}
{% block title %} Account Details {% endblock %}
{% block style %}
<link rel="stylesheet" href="{{url_for('static', filename='account_details.css')}}">
{% endblock %}

{% block content %}
<main id="account_details">
<h1><span>{{name}}</span><span>{{points_dict['points']}} points</span></h1>

{%- if points_dict['earned_rewards'] -%}
    <h2>My Rewards</h2>
    <ul>
        {% for reward in points_dict['earned_rewards'] %}
                <li><span>{{reward}}</span></li>
        {% endfor %}
    </ul>
{% endif %}
<h2>Points History</h2>
<ul>
    {% for event in points_dict['events'] %}
    <li><span>{{event['date']}}</span><span>{{event['type']}}</span><span>{{event['subtype']}}</span><span>{{event['awarded']}} points</span></li>
    {% endfor %}
</ul>
</main>
{% endblock %}
