{% extends "base.html" %}
{% block title %} Account Details {% endblock %}
{% block style %}
<link rel="stylesheet" href="{{url_for('static', filename='account_details.css')}}">
{% endblock %}
{% block nav_links %}
<a href="/dashboard">Dashboard</a>
{% endblock %}

{% block content %}
<main id="account_details">

<div class="name-and-points">
    <h1 class="points-big">{{points_dict['points']}} points</h1>
    <div>
        <!-- <p>Thank you, {{ name }}!</p> -->
    </div>
</div>
{%- if points_dict['earned_rewards'] -%}
    <h2 class="points-headers">My Rewards</h2>
    <div class="my-rewards">
        <ul>
            {% for reward in points_dict['earned_rewards'] %}
                    <li><span>{{reward}}</span></li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
<h2 class="points-headers">Points History</h2>

<div class="event-card-container">
    {% for event in points_dict['events'] %}
        <div class="event-card" onclick="showModal(`{{event['date']}}`, `{{event['type']}}`, `{{event['subtype']}}`, `{{event['awarded']}}`)">
            <span>{{ event['date'] }}</span> - <span>{{ event['type'] }}</span>
        </div>
    {% endfor %}
</div>
</main>

<!-- the modal -->
<div id="eventModal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeModal()">&times;</span>
      <p id="modalText">Event details</p>
      <img src="{{ url_for('static', filename='transparent_json.png') }}" alt="JSON the BSON" style="width: 40vw; max-width: 250px;">
    </div>
</div>

<script>
    function showModal(date, type, subtype, awarded) {
        var modal = document.getElementById("eventModal");
        var modalText = document.getElementById("modalText");
        modal.style.display = "block";
        if (type === 'data update') {
            modalText.innerHTML = `Date: ${date}<br>Data Update - thank you for sharing with us!<br>Points Awarded: ${awarded}`;
        } else {
            modalText.innerHTML = `Date: ${date}<br>${type} - ${subtype}<br>You earned ${awarded} points`;
        }
    }
    function closeModal() {
        var modal = document.getElementById("eventModal");
        modal.style.display = "none";
    }
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        var modal = document.getElementById("eventModal");
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

{% endblock %}
