<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='normalize.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='base.css')}}">

    <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block style %} {% endblock %}
    <title>{% block title %}Techlahoma{% endblock %}</title>
</head>
<body>
    {% block header %}
    <header>
        <div id="header-img">
          <div class="header-img block_of_grey techlahoma_logo_size"></div>
          <img class="header-img" id="bson_logo" src="{{url_for('static', filename='techlahoma_bson_white.svg')}}" alt="">
          <img class="header-img techlahoma_logo_size" id="techlahoma_logo" src="{{url_for('static', filename='techlahoma_text_white.png')}}" alt="">
        </div>
                <!-- Top Navigation Menu -->
      <div class="topnav">
          <!-- <a href="#home" class="active">Hero</a> -->
              <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
              <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                  <i class="fa fa-bars"></i>
                </a>
          <!-- Navigation links (hidden by default) -->
          <div id="myLinks">
            {% block nav_links %}
            {% endblock %}
            <a href="/logout">Logout</a>
          </div>
        </div>
    </header>

    {% endblock %}
    {% block content %}
    {% endblock %}
</body>
<script>
    /* Toggle between showing and hiding the navigation menu links when the user clicks on the hamburger menu / bar icon */
function myFunction() {
  var x = document.getElementById("myLinks");
  var img = document.getElementById("header-img");
  console.log(img)
  if (x.style.display === "block") {
    x.style.display = "none";
    img.style.display="flex";
  } else {
    x.style.display = "block";
    img.style.display="none";
  }
}
</script>
</html>
