{% extends "base.html" %}
{% block title %} Check In {% endblock %}
{% block header %}
    <div id="header-img">
        <img class="header-img" src="{{url_for('static', filename='techlahoma_bson_white.svg')}}" alt="">
        <img class="header-img" src="{{url_for('static', filename='techlahoma_text_white.png')}}" alt="">
    </div>
{% endblock %}
{% block content %}
<h1>Welcome, {{name}}</h1>
    <main>
        <form action="{{ url_for('dashboard') }}" method="post">
            <select class="dropdown" name="selected_group" required>
                <option value="" disabled selected>Select an Event</option>
                {% for group in check_in_options %}
                    <option value="{{ group }}">{{ group }}</option>
                {% endfor %}
            </select>
            <button class="button-primary" type="submit">Submit</button>
        </form>


    </main>
{% endblock %}
