{% extends "base.html" %}
{% block title %} User Dashboard {% endblock %}
{% block content %}
<main>
    <h2>Thank you for checking in!<br/> It really helps support our mission.</h2>

    <div class="container">
        <div class="vis-container">
            <div class="vis">
                <p id="points"><span id="points_num">{{points_total}}</span><span> /</span><span id="rewards-total"> {{points_total + points_to_next_reward}}</span></p>
            </div>
            <svg viewBox="0 0 160 160" xmlns="http://www.w3.org/2000/svg">
                <circle cx="80" cy="80" r="72" />
              </svg>
        </div>
    </div>
    <!-- <a href="#" class="button-secondary">Rewards Details</a> -->
    <!-- <a href='https://techlahoma.app.neoncrm.com/np/logout.do?targetUrl={{ logout_url }}'>log out</a> -->

    <!-- EDGE CASE: when someone has reached max points, REWARD will be 'none' -->
    {% if next_closest_reward is none %}
    <p>Congrats! you have unlocked all current rewards!</p>
    {% else %}
    <p>only {{points_to_next_reward}} points away from {{next_closest_reward}}</p>
    <p id="one">Intrested in earning more points? We love giving out bonus points! Click below to share a bit about yourself and earn {{next_data_update_points_value}} more points</p>
    <a class="button-primary" href="/">Get More Points!</a>
    {% endif %}
</main>
<script defer="true">
    const circle = document.querySelector('circle');
    const user_points = document.querySelector('#points_num').innerHTML;
    const reward_points = document.querySelector('#rewards-total').innerHTML;
    const percent = (user_points / reward_points) * 100;
    const stroke_dash_offset = 452 - (452 * percent) / 100;
    circle.style.strokeDashoffset = stroke_dash_offset;
</script>
{% endblock %}