{% extends "base.html" %}
{% block title %} Check In {% endblock %}
{% block header %}
<header id="header-img">
    <div class="header-img block_of_grey techlahoma_logo_size"></div>
    <img class="header-img" id="bson_logo" src="{{url_for('static', filename='techlahoma_bson_white.svg')}}" alt="">
    <img class="header-img techlahoma_logo_size" id="techlahoma_logo" src="{{url_for('static', filename='techlahoma_text_white.png')}}" alt="">
</header>
{% endblock %}
{% block content %}
<main id="landing">
    <div id="spacer"></div>
    <a class="button-primary" href="{{login_url}}" style="text-decoration:none" >Log in With NeonCRM</a>
</main>
{% endblock %}
